.grid__tile--newsletter {
    background: $white;
    border-radius: ($defn_size / 2) ($defn_size / 2) 0 0;
    border: ($defn_size / 2) - 5 solid $border-color;
    bottom: -4px;

    .newsletter-statistics {
        @include clearfix;
        @include mod(total) {
            font-size: setting($font-size, m);
        }
        h1.heading {
            color: $gray-color;
            font-weight: 600;
            text-align: center;
            span {
                font-weight: 200;
            }
        }
        .newsletter-graphic {
            width: 100%;
            padding: 4% 10%;
        }
    }

    .newsletter-statistics__period {
        @include font-sans;

        background: $count_green;
        color: $gray-color;
        border-radius: 500px 0 0 500px;
        padding: 5px 10px;
        display: block;
        width: 70%;
        top: .1em;
        float: left;

        font-size: setting($font-size, xs);
        text-transform: uppercase;
    }

    .subscribers__count {
        @include newsletter-count-color($count_purple)
    }
    .bounce__count {
        @include newsletter-count-color($count_green)
    }
    .unsubscribers__count {
        @include newsletter-count-color($count_orange)
    }
    .total__count {
       @include newsletter-count-color($count_gray) 
    }
}
